.row#header
  .container
    %form#validation-form(action="#" method="post")
      .step
        %ul.service-list(styel="display:block;")
          %li.span2
            %input(class="services" type="checkbox" name="services" value="AppIDSvc1") AppIDSvc 1
          %li.span2
            %input(class="services" type="checkbox" name="services" value="AppIDSvc2") AppIDSvc 2
          %li.span2
            %input(class="services" type="checkbox" name="services" value="AppIDSvc3") AppIDSvc 3
          %li.span2
            %input(class="services" type="checkbox" name="services" value="AppIDSvc4") AppIDSvc 4
          %li.span2 
            %input(class="services" type="checkbox" name="services" value="AppIDSvc5") AppIDSvc 5
          %li.span2
            %input(class="services" type="checkbox" name="services" value="AppIDSvc6") AppIDSvc 6
            %label(for="spam[]" class="error") Please select at least two types of spam.
        %input(name="submit" type="submit" value="go")
