.row#header
  .container
    %form#validation-form(action="#" method="post")
      .step
        %ul.service-list(styel="display:block;")
          %li.span2
            %input(class="checkbox" id="AppIDSvc" type="checkbox" name="services[]" value="AppIDSvc" validate="required:true, minlength:2") AppIDSvc
          %li.span2
            %input(class="checkbox" id="AppIDSvc1" type="checkbox" name="services[]" value="AppIDSvc1") AppIDSvc1
          %li.span2
            %input(class="checkbox" id="AppIDSvc2" type="checkbox" name="services[]" value="AppIDSvc2") AppIDSvc2
          %li.span2
            %input(class="checkbox" id="AppIDSvc3" type="checkbox" name="services[]" value="AppIDSvc3") AppIDSvc3
          %li.span2 
            %input(class="checkbox" id="AppIDSvc4" type="checkbox" name="services[]" value="AppIDSvc4") AppIDSvc4
          %li.span2
            %input(class="checkbox" id="AppIDSvc5" type="checkbox" name="services[]" value="AppIDSvc5") AppIDSvc5
        %label(for="spam[]" class="error") Please select at least two types of spam.
        %input(name="submit" type="submit" value="go")
